.loader {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: #999 transparent #999 transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    box-shadow: 0 0 2rem #999;
}

.loader::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }

    /* spin 360 degrees */
}

@keyframes pulse {

    /* pulse the gear emoji */
    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }

    /* scale to 1 */
    50% {
        transform: translate(-50%, -50%) scale(1.25);
    }

    /* scale to 1.25 */
}

.loader-t {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: #999 transparent #999 transparent;
    border-radius: 50%;
    box-shadow: 0 0 2rem #999;
    transition: transform 1.5s linear;
}

.loader-t::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1.5s ease-in-out;
    font-size: 2rem;
}

.loader-t:hover {
    transform: rotate(360deg);
}

.loader-t:hover::after {
    transform: translate(-50%, -50%) scale(1.5);
}