:root {
    --primary-color: #142B55;
    --nav-bg-color: #d6d6d6;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: smaller;
}

main {
    height: 100vh;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--nav-bg-color);
}

nav {
    background-color: var(--primary-color);
    margin: 0 -20px;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav a {
    padding: 10px 20px;
    display: block;
    color: #fff;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem 20px;
}

footer span {
    color: #fff;
    margin-bottom: 6px;
    display: block;
}

footer p {
    color: #fff;
    margin-bottom: 6px;
}


/* Class Selectors */

.header-container {
    margin: 0 20px;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 0;
    max-width: 250px;
}

.logo-container img {
    width: 48px;
    height: 48px;
}

.page-name {
    font-weight: bold;
    font-family: var(--heading-font);
    line-height: 1.3em;
}

header .icon {
    height: 36px;
    width: 36px;
    color: var(--primary-color);
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer .icon {
    height: 36px;
    width: 36px;
    color: #fff;
}

.bold-text {
    font-weight: bold;
}

.open {
    display: block;
}

/* ID Selectors */

#nav-menu {
    position: absolute;
    right: 0;
    top: 14px;
}

#menu-open {
    transition: all 300ms ease-in-out;
    opacity: 1;
    position: absolute;
}

#menu-open.hide {
    opacity: 0;
}

#menu-close {
    transition: all 300ms ease-in-out;
    opacity: 0;
}

#menu-close.show {
    opacity: 1;
}

#currentyear {
    display: inline;
}