:root {
    --primary-color: #142B55;
    --secondary-color: #FEB743;
    --nav-bg-color: #d6d6d6;
    --text-color: #363636;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: smaller;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--nav-bg-color);
}

nav {
    background-color: var(--primary-color);
    margin: 0 -20px;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav a {
    padding: 10px 20px;
    display: block;
    color: #fff;
}

h1 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

footer {
    background-color: var(--primary-color);
}

footer span {
    color: #fff;
    margin-bottom: 6px;
    display: block;
}

footer p {
    color: #fff;
    margin-bottom: 6px;
}


/* Class Selectors */

.active-link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
}

.header-container {
    margin: 0 20px;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 0;
    max-width: 220px;
}

.logo-container img {
    width: 48px;
    height: 48px;
}

.page-name {
    font-weight: bold;
    font-family: var(--heading-font);
    line-height: 1.3em;
}

header .icon {
    height: 36px;
    width: 36px;
    color: var(--primary-color);
}

.cards-sec {
    display: grid;
    gap: 1rem;
    /* margin: 0 20px; */
}

.card-btns {
    transition: 300ms ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    .grid .card {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 20px 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .grid .business-name {
        font-family: var(--body-font);
        font-size: large;
        font-weight: bold;
        text-align: center;
    }

    .grid .divider {
        width: 80%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 0.5rem auto;
    }

    .grid .business-info {
        display: flex;
        gap: 10px;
    }

    .grid .business-info img {
        width: 80px;
        height: auto;
    }

    .grid .business-info div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }
}

.list {
    display: flex;
    flex-direction: column;

    .list .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        padding: 10px;
    }

    /* Replace SCSS &:nth-child */
    .list .card:nth-child(odd) {
        background-color: var(--nav-bg-color);
    }

    .list .business-name {
        font-weight: bold;
    }

    .list .divider {
        display: none;
    }

    .list .business-info img {
        display: none;
    }

    .list .business-info div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .list a {
        display: none;
    }

}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btns-container a {
    padding: 10px;
    /* background-color: #FEB743; */
    color: #2b2b2b;
    border: 1.5px solid var(--secondary-color);
    font-weight: 700;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 20px;
}

footer .icon {
    height: 32px;
    width: 32px;
    color: #fff;
}

.bold-text {
    font-weight: bold;
}

.open {
    display: block;
}

.active-btn {
    background-color: var(--secondary-color);
}

/* ID Selectors */

#nav-menu {
    position: absolute;
    right: 0;
    top: 14px;
}

#menu-open {
    transition: all 300ms ease-in-out;
    opacity: 1;
    position: absolute;
}

#menu-open.hide {
    opacity: 0;
}

#menu-close {
    transition: all 300ms ease-in-out;
    opacity: 0;
}

#menu-close.show {
    opacity: 1;
}

#currentyear {
    display: inline;
}

/* Psuedo Classes */

.card-btns:hover {
    background-color: var(--secondary-color);
}

.social-container a:hover {
    background-color: rgba(254, 183, 67);
}