:root {
    --primary-color: #142B55;
    --secondary-color: #FEB743;
    --nav-bg-color: #d6d6d6;
    --text-color: #363636;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: smaller;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin: 2rem 0; */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--nav-bg-color);
}

nav {
    background-color: var(--primary-color);
    margin: 0 -20px;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav a {
    padding: 10px 20px;
    display: block;
    color: #fff;
}

section {
    padding: 0 20px;
}

h1 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

footer {
    margin-top: 1rem;
    background-color: var(--primary-color);
    min-height: 320px;
}

footer span {
    color: #fff;
    margin-bottom: 6px;
    display: block;
}

footer p {
    color: #fff;
    margin-bottom: 6px;
}

/* Modal */

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 3rem #777;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
}

dialog div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog button {
    padding: .3rem;
    border: none;
    font-size: large;
    font-weight: 700;
    background-color: transparent;
    color: var(--primary-color);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

dialog button:hover {
    color: var(--secondary-color);
    rotate: calc(360deg);
}

dialog h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

dialog ul {
    padding-left: 20px;
}

dialog li {
    font-size: medium;
    margin-bottom: 6px;
}


/* Class Selectors */

.hero-sec {
    background:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("https://mahonribalajadia.github.io/wdd231/chamber/images/bayambang-hero.webp") center center / cover no-repeat;
    padding: 1rem;
    color: #fff;
    max-width: none;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.hero-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    width: 100%;
}

.hero-title {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
}

.hero-text p {
    font-size: large;
    line-height: 1.5em;
    max-width: 650px;
}

.hero-container a {
    text-decoration: none;
    padding: 15px 20px;
    background-color: var(--secondary-color);
    color: #2b2b2b;
    border-radius: 40px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid var(--secondary-color);
}

.page-title-sec {
    margin-top: 1rem;
}

.h-sec-wrapper {
    display: grid;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    gap: 1rem;
}

.h-sec-wrapper section {
    padding: 0;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.h-sec-wrapper h2 {
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}

.events-sec div p:not(:last-child) {
    border-bottom: 1px solid var(--nav-bg-color);
}

.events-sec p {
    padding: 1rem;
    font-size: medium;
}

.events-sec span {
    font-weight: 700;
}

.weather-sec {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.weather-sec>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.weather-sec p {
    margin-bottom: .5rem;
}

.active-link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
}

.header-container {
    margin: 0 20px;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 0;
    max-width: 220px;
}

.logo-container img {
    width: 48px;
    height: 48px;
}

.page-name {
    font-weight: bold;
    font-family: var(--heading-font);
    line-height: 1.3em;
}

header .icon {
    height: 36px;
    width: 36px;
    color: var(--primary-color);
}

.cards-sec {
    display: grid;
    gap: 1rem;
}

.card-btns {
    transition: 300ms ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.grid .card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.grid .business-name {
    font-family: var(--body-font);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.grid .divider {
    width: 80%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.5rem auto;
}

.grid .business-info {
    display: flex;
    gap: 10px;
}

.grid .business-info img {
    width: 100%;
    height: auto;
}

.grid .business-info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
}

.list .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;
}

.list .card:nth-child(odd) {
    background-color: var(--nav-bg-color);
}

.list .business-name {
    font-weight: bold;
}

.list .divider {
    display: none;
}

.list .business-info img {
    display: none;
}

.list .business-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.list .business-info a {
    display: none;
}

.btns-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btns-container a {
    padding: 10px;
    color: #2b2b2b;
    border: 1.5px solid var(--secondary-color);
    font-weight: 700;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 20px;
}

footer .icon {
    height: 32px;
    width: 32px;
    color: #fff;
}

.bold-text {
    font-weight: bold;
}

.open {
    display: block;
}

.active-btn {
    background-color: var(--secondary-color);
}

.j-section-grid {
    display: grid;
    gap: 1rem;
}

.form-container {
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-container h2 {
    margin-bottom: 1rem;
    font-family: var(--heading-font);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container form label {
    font-weight: 700;
}

.form-container form input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 8px 4px;
    margin-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.form-container form .required-field {
    border-left: 5px solid rgba(0, 0, 0, 0.2);
}

.form-container form .form-submit-btn {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--heading-font);
}

.membership-sec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.membership-sec h2 {
    font-family: var(--heading-font);
}

.membership-sec .membership-card {
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
    color: var(--secondary-color);
    animation: fadeInUp 2s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}

.membership-card:nth-child(2) {
    animation-delay: 0.2s;
}

.membership-card:nth-child(3) {
    animation-delay: 0.4s;
}

.membership-card:nth-child(4) {
    animation-delay: 0.6s;
}

.membership-card:nth-child(5) {
    animation-delay: 0.8s;
}

.membership-card h3 {
    margin-bottom: 1rem;
}

.membership-card a {
    padding: 6px 12px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    transition: all 200ms ease-in-out;
}

.result-sec {
    margin-top: 1rem;
}

.result-container {
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: grid;
    gap: 1rem;
}

.result-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    align-items: center;
    font-size: medium;
}

.result-data span {
    font-weight: 700;
}



/* ID Selectors */

#nav-menu {
    position: absolute;
    right: 0;
    top: 14px;
}

#menu-open {
    transition: all 300ms ease-in-out;
    opacity: 1;
    position: absolute;
}

#menu-open.hide {
    opacity: 0;
}

#menu-close {
    transition: all 300ms ease-in-out;
    opacity: 0;
}

#menu-close.show {
    opacity: 1;
}

#currentyear {
    display: inline;
}

#weather-icon {
    width: 80px;
    height: 80px;
}

#current-temp {
    font-size: medium;
    font-weight: 700;
}

#weather-desc {
    font-size: medium;
    text-transform: capitalize;
}

#forecast-days {
    display: flex;
    flex-direction: column;
}

#forecast-days p:not(:last-child) {
    border-bottom: 1px solid var(--nav-bg-color);
}

#forecast-days p {
    font-size: medium;
    padding: 1rem;
}

#forecast-days span {
    font-weight: 700;
}

#first-name,
#last-name,
#org-name,
#membership {
    text-transform: capitalize;
}

/* Psuedo Classes */

.card-btns:hover {
    background-color: var(--secondary-color);
}

.social-container a:hover {
    background-color: #ffffff;
}

.social-container a:hover .icon {
    color: var(--primary-color);
}

.hero-container a:hover {
    background-color: rgba(43, 43, 43, 0.5);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.form-container form .required-field:required {
    border-left-color: #ff0000;
}

.form-container form .required-field:valid {
    border-left-color: #008000;
}

.form-container form .form-submit-btn:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.membership-card a:hover {
    color: var(--secondary-color);
    background-color: transparent;
}

/* Animations */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Moves the element down 20 pixels */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Returns the element to its original position */
    }
}