@media screen and (min-width: 800px) {

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        border: none;
    }

    nav a {
        padding: 10px 20px;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    h1 {
        grid-column: 1/3;
        margin-bottom: 0;
    }

    footer p {
        font-size: smaller;
    }

    /* Class Selectors */

    .header-top {
        border: none;
    }

    .courses-sec {
        grid-column: 1/3;
    }

    .about-me-sec {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .about-me-sec div {
        height: 100%;
    }

    .photo-sec {
        margin-bottom: 0;
    }

    .photo-sec div {
        padding: 2rem auto;
    }

    .photo-sec img {
        width: 300px;
        height: auto;
    }

    .course-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 1rem;
    }

    /* ID Selectors */

    #nav-menu {
        display: none;
    }


}