:root {
    --heading-font: "DM Serif Text", serif;
    --body-font: "Nunito", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: #ebebeb;
    color: #1A1A1A;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #1d2e62;
}

h2 {
    margin-bottom: 6px;
}

header,
main {
    margin: 0 auto;
    max-width: 800px;
}

header {
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
}

figure {
    margin: 1rem auto;
}

figcaption {
    text-align: center;
    font-size: smaller;
}

footer {
    padding: 1rem;
    background-color: #FFFFFF;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.color-grid {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;
}

.color-box {
    grid-row: 1/3;
    border: solid 1px #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.color-grid p {
    grid-column: 2/3;
}

#dark-blue {
    background-color: #1d2e62;
}

#dark-yellow {
    background-color: #F4B32D;
}

#near-black {
    background-color: #1A1A1A;
}

#logo {
    display: block;
    width: 300px;
    margin: 0 auto;
}

#web-wf {
    width: 400px;
}

#mobile-wf {
    height: 700px;
    width: auto;
}

#wireframe {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wireframe h2 {
    grid-column: 1/3;
}